<section class="about-us goto-anchor" id="about-us-section">
  <div class="container">
    <div class="container-about-us-text">
      <div class="about-us-text">
        <h3 class="section-subtitle">About us</h3>
        <h2 class="section-title">
          Our сraftsmanship: сreating unique handmade furniture
        </h2>
        <p class="text gap">
          Discover the inspiration behind our modern and minimalist designs, and
          see how we bring them to life through our skilled craftsmanship.
        </p>
        <div class="container-text">
          <ul class="text-list list">
            <div class="box-text">
              <li class="text-item">
                <p class="text-accent">5+</p>
              </li>
              <li class="text-item">
                <p class="text">
                  Years of experience creating handcrafted furniture
                </p>
              </li>
            </div>
            <div class="box-text">
              <li class="text-item">
                <p class="text-accent">100%</p>
              </li>
              <li class="text-item">
                <p class="text">
                  Sustainably sourced materials used in all of our furniture
                </p>
              </li>
            </div>
            <div class="box-text">
              <li class="text-item">
                <p class="text-accent">500+</p>
              </li>
              <li class="text-item">
                <p class="text">
                  Unique furniture designs crafted by our skilled artisans
                </p>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="about-us-img">
      <picture>
        <source
          media="(min-width:1440px)"
          srcset="
            ./images/about-us-desktop-1x.jpg 1x,
            ./images/about-us-desktop-2x.jpg 2x
          "
        />

        <source
          media="(min-width:768px)"
          srcset="
            ./images/about-us-tablet-1x.jpg 1x,
            ./images/about-us-tablet-2x.jpg 2x
          "
        />

        <source
          media="(min-width:320px)"
          srcset="
            ./images/about-us-mobile-1x.jpg 1x,
            ./images/about-us-mobile-2x.jpg 2x
          "
        />

        <img
          src="./images/about-us-tablet-1x.jpg 1x"
          alt="about-us"
          width="704"
          height="540"
        />
      </picture>
    </div>
  </div>
</section>
