<section class="bestsellers-section goto-anchor" id="bestsellers-section">
  <div class="container">
    <h2 class="section-title">bestsellers</h2>

    <div class="flex-container">
      <div class="main-item-wrapper">
        <a href="" class="bestsellers-link-wrapper">
          <div class="bestsellers-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/bestsellers-01-desktop-1x.jpg 1x,
                  ./images/bestsellers-01-desktop-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/bestsellers-01-tablet-1x.jpg 1x,
                  ./images/bestsellers-01-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/bestsellers-01-mobile-1x.jpg 1x,
                  ./images/bestsellers-01-mobile-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="bestsellers-img"
                src="./images/bestsellers-01-tablet-1x.jpg"
                alt="photo of a product"
              />
            </picture>
          </div>
          <div class="bestsellers-text-wrapper">
            <h4 class="local-title-alt bestsellers-card-title">
              The modern platform bed
            </h4>
            <p class="bestsellers-price text">750$</p>
          </div>
        </a>
      </div>
      <!-- <li class="bestsellers-item bestsellers-main">

        </li> -->
      <ul class="bestsellers-list">
        <li class="bestsellers-item">
          <a href="" class="bestsellers-link-wrapper">
            <div class="bestsellers-img-wrapper">
              <picture>
                <source
                  srcset="
                    ./images/bestsellers-02-desktop-1x.jpg 1x,
                    ./images/bestsellers-02-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/bestsellers-02-tablet-1x.jpg 1x,
                    ./images/bestsellers-02-tablet-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/bestsellers-02-mobile-1x.jpg 1x,
                    ./images/bestsellers-02-mobile-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="bestsellers-img"
                  src="./images/bestsellers-02-tablet-1x.jpg"
                  alt="photo of a product"
                />
              </picture>
            </div>
            <div class="bestsellers-text-wrapper">
              <h4 class="local-title-alt bestsellers-card-title">
                The Cozy Lounge Chair
              </h4>
              <p class="bestsellers-price text">230$</p>
            </div>
          </a>
        </li>
        <li class="bestsellers-item">
          <a href="" class="bestsellers-link-wrapper">
            <div class="bestsellers-img-wrapper">
              <picture>
                <source
                  srcset="
                    ./images/bestsellers-03-desktop-1x.jpg 1x,
                    ./images/bestsellers-03-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/bestsellers-03-tablet-1x.jpg 1x,
                    ./images/bestsellers-03-tablet-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/bestsellers-03-mobile-1x.jpg 1x,
                    ./images/bestsellers-03-mobile-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="bestsellers-img"
                  src="./images/bestsellers-03-tablet-1x.jpg"
                  alt="photo of a product"
                />
              </picture>
            </div>
            <div class="bestsellers-text-wrapper">
              <h4 class="local-title-alt bestsellers-card-title">
                The industrial accent chair
              </h4>
              <p class="bestsellers-price text">250$</p>
            </div>
          </a>
        </li>
        <li class="bestsellers-item bestsellers-item-display-none">
          <a href="" class="bestsellers-link-wrapper">
            <div class="bestsellers-img-wrapper">
              <picture>
                <source
                  srcset="
                    ./images/bestsellers-04-desktop-1x.jpg 1x,
                    ./images/bestsellers-04-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/bestsellers-04-tablet-1x.jpg 1x,
                    ./images/bestsellers-04-tablet-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <img
                  class="bestsellers-img"
                  src="./images/bestsellers-04-tablet-1x.jpg"
                  alt="photo of a product"
                />
              </picture>
            </div>
            <div class="bestsellers-text-wrapper">
              <h4 class="local-title-alt bestsellers-card-title">
                The sleek stand
              </h4>
              <p class="bestsellers-price text">300$</p>
            </div>
          </a>
        </li>
        <li class="bestsellers-item bestsellers-item-display-none">
          <a href="" class="bestsellers-link-wrapper">
            <div class="bestsellers-img-wrapper">
              <picture>
                <source
                  srcset="
                    ./images/bestsellers-05-desktop-1x.jpg 1x,
                    ./images/bestsellers-05-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/bestsellers-05-tablet-1x.jpg 1x,
                    ./images/bestsellers-05-tablet-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <img
                  class="bestsellers-img"
                  src="./images/bestsellers-05-tablet-1x.jpg"
                  alt="photo of a product"
                />
              </picture>
            </div>
            <div class="bestsellers-text-wrapper">
              <h4 class="local-title-alt bestsellers-card-title">
                The minimalist sofa
              </h4>
              <p class="bestsellers-price text">650$</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
