<section class="clients-reviews" id="clients-reviews-section">
  <div class="container">
    <h2 class="section-title clients-reviews-title">Clients reviews</h2>
    <ul class="clients-reviews-wrap">
      <li class="clients-reviews-item">
        <div class="clients-reviews-item-header">
          <picture>
            <source
              srcset="
                ./images/clients-01-1x.png 1x,
                ./images/clients-01-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/clients-01-mobile-1x.png 1x,
                ./images/clients-01-mobile-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img src="./images/clients-01-mobile-1x.png" alt="clients-avatar" />
          </picture>
          <div class="clients-reviews-item-header-text">
            <div class="client-name local-title">Alexandra dream</div>
            <div class="review-age">1 week ago</div>
          </div>
        </div>
        <p class="clients-reviews-item-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="clients-reviews-item">
        <div class="clients-reviews-item-header">
          <picture>
            <source
              srcset="
                ./images/clients-02-1x.png 1x,
                ./images/clients-02-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <img src="./images/clients-02-1x.png" alt="clients-avatar" />
          </picture>
          <div class="clients-reviews-item-header-text">
            <div class="client-name local-title">James Williams</div>
            <div class="review-age">A week ago</div>
          </div>
        </div>
        <p class="clients-reviews-item-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="clients-reviews-item">
        <div class="clients-reviews-item-header">
          <picture>
            <source
              srcset="
                ./images/clients-03-1x.png 1x,
                ./images/clients-03-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <img src="./images/clients-03-1x.png" alt="clients-avatar" />
          </picture>
          <div class="clients-reviews-item-header-text">
            <div class="client-name local-title">Emily Watson</div>
            <div class="review-age">3 week ago</div>
          </div>
        </div>
        <p class="clients-reviews-item-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
