<footer class="footer" id="footer-section">
  <div class="container">
    <div class="footer-wrap">
      <a href="./index.html" class="footer-logo-link">
        <svg class="footer-logo">
          <use href="./images/sprite.svg#logo-icon"></use>
        </svg>
      </a>
      <ul class="footer-socials">
        <li class="footer-socials-item">
          <a
            href="https://www.facebook.com/"
            class="footer-socials-link"
            target="_blank"
          >
            <svg class="footer-socials-icon">
              <use href="./images/sprite.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.instagram.com/"
            class="footer-socials-link"
            target="_blank"
          >
            <svg class="footer-socials-icon">
              <use href="./images/sprite.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.youtube.com/"
            class="footer-socials-link"
            target="_blank"
          >
            <svg class="footer-socials-icon">
              <use href="./images/sprite.svg#youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-nav">
        <li><a href="" class="footer-nav-item link-hover">About us</a></li>
        <li><a href="" class="footer-nav-item link-hover">Our products</a></li>
        <li><a href="" class="footer-nav-item link-hover">Prices</a></li>
        <li><a href="" class="footer-nav-item link-hover">Bestsellers</a></li>
        <li><a href="" class="footer-nav-item link-hover">Reviews</a></li>
      </ul>
      <ul class="footer-address">
        <li class="footer-contact-item">
          <a href="" class="address link-hover">Obolonsky Prospect, 14, Kyiv</a>
        </li>
        <li class="footer-contact-item">Daily 10:00-21:00</li>
      </ul>
      <ul class="footer-contacts">
        <li>
          <a href="tel:+380669384758" class="footer-contact-item link-hover"
            >+380669384758</a
          >
        </li>
        <li>
          <a href="tel:+380679384758" class="footer-contact-item link-hover"
            >+380679384758</a
          >
        </li>
        <li>
          <a
            href="mailto: minimal.furniture@gmail.com"
            class="footer-contact-item email link-hover"
            >minimal.furniture@gmail.com</a
          >
        </li>
      </ul>
    </div>

    <p class="footer-terms">
      By using this website, you agree to the
      <a href="" class="footer-terms-link">Terms of Service</a> and
      <a href="" class="footer-terms-link">Privacy Policy</a>
    </p>
  </div>
</footer>
