<header class="header">
  <div class="container">
    <a href="" class="logo-header">
      <svg class="icon-logo" width="128" height="17">
        <use href="./images/sprite.svg#logo-icon"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#" class="nav-link text">About us</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link text">Our products</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link text">Prices</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link text">Bestsellers</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link text">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link text">Contacts</a>
        </li>
      </ul>
    </nav>
    <button
      class="burger js-open-menu js-close-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <span class="burger-wrapper">
        <span class="burger-line first-line"></span>
        <span class="burger-line second-line"></span>
        <span class="burger-line third-line"></span>
        <span class="burger-line fourth-line"></span>
      </span>
    </button>

    <!----------Burger  ---------->
    <div class="mob-menu js-menu-container" id="mobile-menu">
      <nav class="nav-mob-menu">
        <ul class="mob-menu-list">
          <li class="mob-menu-item"><a href="#">About us</a></li>
          <li class="mob-menu-item"><a href="#">Our products</a></li>
          <li class="mob-menu-item"><a href="#">Prices</a></li>
          <li class="mob-menu-item"><a href="#">Bestsellers</a></li>
          <li class="mob-menu-item"><a href="#">Reviews</a></li>
          <li class="mob-menu-item"><a href="#">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
