<section class="hero">
  <div class="container">
    <p class="font-text">Modern and minimalist furniture for yous</p>
    <p class="font-text-alt">
      Our сraftsmanship: сreating unique handmade furniture
    </p>
    <p class="section-title">
      Our сraftsmanship: сreating unique handmade furniture
    </p>

    <button type="submit" class="btn">Send</button>

    <h1 class="main-title">Lorem ipsum dolor sit amet.</h1>
    <h2 class="section-subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, corporis?
    </h2>

    <a href="#" class="btn" style="display: inline-block">Subscribe</a>
    <svg class="icon-1 icon">
      <use href="./images/sprite.svg#attention-icon"></use>
    </svg>
    <svg class="icon-2 icon">
      <use href="./images/sprite.svg#checkmark-icon"></use>
    </svg>
    <svg class="icon-3 icon">
      <use href="./images/sprite.svg#facebook-icon"></use>
    </svg>
    <svg class="icon-4 icon">
      <use href="./images/sprite.svg#instagram-icon"></use>
    </svg>
    <svg class="icon-5 icon">
      <use href="./images/sprite.svg#logo-icon"></use>
    </svg>
    <svg class="icon-6 icon">
      <use href="./images/sprite.svg#youtube-icon"></use>
    </svg>
    <img src="./images/hero-bg-main-desktop-1x.jpg" alt="" />
  </div>
</section>
