<section class="our-products" id="our-products-section">
  <div class="container">
    <h2 class="section-title our-products-title">OUR PRODUCTS</h2>
    <ul class="our-products-image-wrap">
      <li class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-01-desktop-1x.jpg 1x,
              ./images/our-products-01-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/our-products-01-tablet-1x.jpg 1x,
              ./images/our-products-01-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/our-products-01-mobile-1x.jpg 1x,
              ./images/our-products-01-mobile-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/our-products-01-mobile-1x.jpg"
            alt="our-products=01"
          />
        </picture>
        <h4 class="local-title-alt">Minimalist storage solutions</h4>
      </li>
      <li class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-02-desktop-1x.jpg 1x,
              ./images/our-products-02-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/our-products-02-tablet-1x.jpg 1x,
              ./images/our-products-02-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/our-products-02-tablet-1x.jpg"
            alt="our-products=02"
          />
        </picture>
        <h4 class="local-title-alt">Handcrafted minimalist seating</h4>
      </li>
      <li class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-03-desktop-1x.jpg 1x,
              ./images/our-products-03-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="../images/our-products-03-desktop-1x.jpg"
            alt="our-products=03"
          />
        </picture>
        <h4 class="local-title-alt">Sleek and simple tables</h4>
      </li>
      <li class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-04-desktop-1x.jpg 1x,
              ./images/our-products-04-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="../images/our-products-04-desktop-1x.jpg"
            alt="our-products=04"
          />
        </picture>
        <h4 class="local-title-alt">Minimalist seating for every space</h4>
      </li>
    </ul>
  </div>
</section>
