<section class="container">
  <div class="our-products">
    <h2 class="our-products-title section-title">OUR PRODUCTS</h2>
    <div class="our-products-image-wrap">
      <div class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-01-desktop-1x.jpg 1x,
              ./images/our-products-01-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/our-products-01-tablet-1x.jpg 1x,
              ./images/our-products-01-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/our-products-01-mobile-1x.jpg 1x,
              ./images/our-products-01-mobile-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/our-products-01-mobile-1x.jpg"
            alt="our-products=01"
          />
        </picture>
        <p class="our-products-text">Minimalist storage solutions</p>
      </div>
      <div class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-02-desktop-1x.jpg 1x,
              ./images/our-products-02-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/our-products-02-tablet-1x.jpg 1x,
              ./images/our-products-02-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/our-products-02-tablet-1x.jpg"
            alt="our-products=02"
          />
        </picture>
        <p class="our-products-text">Handcrafted minimalist seating</p>
      </div>
      <div class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-03-desktop-1x.jpg 1x,
              ./images/our-products-03-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="../images/our-products-03-desktop-1x.jpg"
            alt="our-products=03"
          />
        </picture>
        <p class="our-products-text">Sleek and simple tables</p>
      </div>
      <div class="our-products-image">
        <picture>
          <source
            srcset="
              ./images/our-products-04-desktop-1x.jpg 1x,
              ./images/our-products-04-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="../images/our-products-04-desktop-1x.jpg"
            alt="our-products=04"
          />
        </picture>
        <p class="our-products-text">Minimalist seating for every space</p>
      </div>
    </div>
  </div>
</section>
