<section class="price" id="price-section">
  <div class="container">
    <h2 class="visually-hidden">Chairs Tables Dresses Sofas Price</h2>
    <ul class="price-list">
      <li class="price-item">
        <h4 class="section-title price-title">Chairs</h4>
        <p class="text">from 200₴</p>
      </li>
      <li class="price-item">
        <h4 class="section-title price-title">Tables</h4>
        <p class="text">from 250₴</p>
      </li>
      <li class="price-item">
        <h4 class="section-title price-title">Dressers</h4>
        <p class="text">from 300₴</p>
      </li>
      <li class="price-item">
        <h4 class="section-title price-title">Sofas</h4>
        <p class="text">from 500₴</p>
      </li>
    </ul>
  </div>
</section>
