<section class="price">
    <div class="price-conteiner container">
        <h1 class="visually-hidden">Chairs Tables Dresses Sofas Preice</h1>
        <ul class="price-menu">
            <li class="price-list title-chairs">
                <h2 class="section-title price-title">Chairs</h2>
                <p class="price-text text">from 200₴</p>
            </li>
            <li class="price-list">
                <h2 class="section-title price-title">Tables</h2>
                <p class="price-text text">from 250₴</p>
            </li>
            <li class="price-list">
                <h2 class="section-title price-title">Dressers</h2>
                <p class="price-text text">from 300₴</p>
            </li>
            <li class="price-list">
                <h2 class="section-title price-title">Sofas</h2>
                <p class="price-text text">from 500₴</p>
            </li>
        </ul>
    </div>
</section>