
<section class="newsletter">
    <div class="container">

        <div class="wrapper">
            <div class="wrapper-item">
                <h3 class="newsletter-title">
                    Newsletter  
                </h3>

                <p class="newsletter-text text">
                    Every week we will send you new designs and information about sales.
                </p>

                <form action="" class="form">
                    <div class="group-container-inputs">
                        <div class="input-container">
                            <input type="text" name="user-name" class="form-input" placeholder="Name"
                            pattern="[A-Za-zА-Яа-яЁёЇїІіЄєҐґ]{2,16}" title="2 to 16 characters required"
                            required>
                            <svg width="24" height="24" class="attention-icon">
                                <use href="../images/sprite.svg#attention-icon"></use>
                            </svg>
                        </div>

                        <div class="input-container">
                            <input required type="email" name="email" class="form-input" placeholder="E-mail">
                            <svg width="24" height="24" class="attention-icon">
                                <use href="../images/sprite.svg#attention-icon"></use>
                            </svg>
                        </div>

                        <div class="checkbox-container">
                            <input type="checkbox" name="user-agreed" id="user-agreed" class="form-checkbox visually-hidden">
                            <label for="user-agreed">
                                <span class="checkbox-border">
                                    <svg class="checkbox-icon">
                                        <use href="../images/sprite.svg#checkmark-icon"></use>
                                    </svg>
                                </span>
                                Agree to subscribe to the newsletter
                            </label>
                        </div>
                    </div>
                    
                    <button type="submit" class="submit-btn btn">Send</button>
                </form>
            </div>
            <div class="wrapper-item">
                <div class="newsletter-img"></div>
            </div>
        </div>               
    </div>
</section>
