.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid #b31212;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1352px;
  }
}
