body {
  font-family: var(--ff-global-font);
  color: var(--color-primary);
  background-color: var(--color-main-bg);
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid #b31212;
}

.main-title {
  font-family: var(--ff-main-title-font);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.section-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 50px;
  position: relative;
}

.section-subtitle::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.local-title {
  font-size: 18px;
  line-height: 1.78;
  text-transform: uppercase;
}

.btn {
  border: none;
  background-color: var(--color-primary);
  background-color: red;
  color: var(--color-alt-text);
  font-size: 16px;
  line-height: 1.5;
  padding-left: 65px;
  padding-right: 65px;
  transition: background-color var(--trn-main-transition-params),
    transform var(--trn-main-transition-params);
}

.btn:is(:hover, :focus) {
  background-color: var(--color-effect);
  transform: translateX(50px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 736px;
  }

  .main-title {
    font-size: 50px;
  }

  .section-title {
    font-size: 32px;
    line-height: 1.41;
  }

  .local-title {
    font-size: 20px;
    line-height: 2.25;
  }

  .btn {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1352px;
  }
}
