.hero {
  background-color: var(--color-main-bg, --color-alt-bg);
  background-image: url(../images/hero-bg-main-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-color: var(--color-main-bg, --color-alt-bg);
    background-image: url(../images/hero-bg-main-mobile-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container-hero {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding: 0 16px;
  height: 717px;
}

.hero-bg-wraper {
  width: 285px;
  height: 126px;
  margin-top: 140px;
  margin-bottom: 14px;
}

.hero .main-title {
  color: var(--color-primary);
}

.hero-content-wraper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero .text {
  color: var(--color-primary);
  font-family: var(--ff-global-font);
  font-size: 14px;
  font-weight: 400;
}

.hero-item-text {
  width: 343px;
  height: 48px;
}

.btn-hero {
  width: 224px;
  padding: 12px 76.5px;
}

@media screen and (min-width: 375px) {
  .hero {
    background: var(--color-main-bg, --color-alt-bg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: var(--color-main-bg, --color-alt-bg);
    }
  }

  .container-hero {
    background-image: url(../images/hero-bg-main-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-size: 375px 717px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../images/hero-bg-main-mobile-2x.jpg);
      background-repeat: no-repeat;
      background-size: 375px 717px;
    }
  }

  .hero .text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    max-width: 768px;
    flex-direction: column;
    padding: 0 32px;
    height: auto;
    background: var(--color-main-bg, --color-alt-bg);
  }

  .hero-bg-wraper {
    width: 704px;
    height: 528px;
    margin-top: 0;
    margin-bottom: 32px;
    background: url(../images/hero-bg-secondary-1-tablet-1x.jpg) no-repeat left
        bottom,
      url(../images/hero-bg-main-tablet-1x.jpg) no-repeat right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bg-wraper {
      background: url(../images/hero-bg-secondary-1-tablet-2x.jpg) no-repeat
          left bottom,
        url(../images/hero-bg-main-tablet-2x.jpg) no-repeat right bottom;
      background-size: 308px 329px, 364px 531px;
    }
  }

  .hero .main-title {
    font-size: 50px;
  }

  .hero-content-wraper {
    gap: 30px;
  }

  .hero .text {
    font-size: 18px;
  }

  .btn-hero {
    width: 224px;
    padding: 13px 72px;
  }
}

@media screen and (min-width: 1440px) {
  .container-hero {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    height: 530px;
    padding: 0 60px;
    gap: 25px;
  }

  .hero-bg-wraper {
    width: 983px;
    height: 530px;
    background: url(../images/hero-bg-secondary-1-desktop-1x.jpg) no-repeat left
        bottom,
      url(../images/hero-bg-main-desktop-1x.jpg) no-repeat right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bg-wraper {
      background: url(../images/hero-bg-secondary-1-desktop-2x.jpg) no-repeat
          left bottom,
        url(../images/hero-bg-main-desktop-2x.jpg) no-repeat right bottom;
      background-size: 310px 329px, 648px 530px;
    }
  }

  .hero .main-title {
    width: 648px;
    height: 150px;
  }

  .hero-content-wraper {
    gap: 82px;
    width: 312px;
    height: 530px;
    background: url(../images/hero-bg-secondary-2-desktop-1x.jpg) no-repeat top;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-content-wraper {
      background: url(../images/hero-bg-secondary-2-desktop-2x.jpg) no-repeat
        top;
      background-size: 312px 337px;
    }
  }

  .hero-item-text {
    padding-top: 398px;
  }
}
