.price {
    padding: 64px 0;
}

/* .price-conteiner {
    display: flex;
    max-width: 100%;
} */

.price-list {
    width: 343px;
}

.price-iteam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid var(--color-primary);
    padding: 30px 0;
}

.price-iteam:first-child {
    border-top: 1px solid var(--color-primary);
}

/* //TODO rewrite later correct address*/

.price > .text {
    font-size: 16px;
    font-weight: 700;
}

.price-title {
    position: relative;
}

.price-title:hover {
    position: relative;
    padding-left: 80px;
    transition: ease-in-out 0.5s;
    transition-delay: 0.5s;
}

.price-title::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--color-primary);
    opacity: 0;
    transform: translate(20px, 20px);
    transition: opacity ease-in-out 0.002s;
    transition-delay: 0;
}

.price-title:hover::before {
    opacity: 1;
    transform: translate(-70px, 20px);
    transition-delay: 900ms;
}

@media screen and (min-width: 768px) {
    .price {
        padding: 100px 0;
    }

    .price > .conteiner {
        padding: 0 32px;
    }

    .price-list {
        width: 704px;
    }
}

@media screen and (min-width: 1440px) {
    .price > .conteiner {
        padding: 0 172px;
    }

    .price-list {
        width: 1096px;
    }
  }