.price {
    padding: 64px 0;
}

.price-list {
    width: 100%;
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid var(--color-primary);
    padding: 30px 0;
}

.price-item:first-child {
    border-top: 1px solid var(--color-primary);
}

/* //TODO rewrite later correct address*/

.price-item > .text {
    font-size: 16px;
    font-weight: 700;
}

.price-title {
    position: relative;
    transition: padding var(--trn-main-transition-params);
}

.price-title:hover {
    position: relative;
    padding-left: 60px;
}

.price-title::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--color-primary);
    opacity: 0;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 200ms ease-in-out;
    transition-delay: 0;
    transition: opacity var(--trn-main-transition-params), left var(--trn-main-transition-params);
}

.price-title:hover::before {
    opacity: 1;
    left: 0;
}

@media screen and (min-width: 375px) {
    .price-title:hover {
        padding-left: 80px;
    }

    .price-title::before {
        width: 50px;
    }
}

@media screen and (min-width: 768px) {
    .price {
        padding: 100px 0;
    }
}

@media screen and (min-width: 1440px) {
    .price > .container {
        max-width: 1128px;
    }
  }