.newsletter{
    padding-top: 100px;
    padding-bottom: 86px;
}

.newsletter .wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-end;
}

.newsletter .wrapper-item:nth-child(2){
    width: 100%;
    min-height: 300px;
}

.newsletter .newsletter-title{
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 31.06px;
}

.newsletter .newsletter-text{
    font-size: 18px;
    color: var(--color-primary);
}

/* TODO form-container */

.newsletter .form{
    margin-top: 20.71px;
}

.newsletter .form .group-container-inputs{
    display: flex;
    flex-direction: column;
    gap: 20.71px;
}

.newsletter .form .input-container .form-input{
    width: 100%;
    padding: 11px 20px;
    border: 1px solid var(--color-calm-state);
    transition: border-color var(--trn-main-transition-params);
    color: var(--color-primary);
}

.newsletter .form .input-container .form-input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
    outline: transparent;
    color: red;
}

.newsletter .form .input-container{
    position: relative;
}

.attention-icon {
    display: none; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    fill: red;
}
  
.form-input:invalid:not(:placeholder-shown) + .attention-icon {
    display: block;
}

.newsletter .form .input-container .form-input:hover,
.newsletter .form .input-container .form-input:focus{
    border-color: var(--color-primary);
}

.newsletter .form .input-container .form-input:hover::placeholder,
.newsletter .form .input-container .form-input:focus::placeholder{
    color: var(--color-primary);
}

/* TODO checkbox */

.newsletter .form .checkbox-container {
    display: flex;
    align-items: center;
}

.newsletter .form .checkbox-container label {
    display: flex;
    align-items: center; 
    gap: 8px;
}

.newsletter .form .checkbox-border {
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-calm-state);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.newsletter .form .checkbox-icon {
    display: none;
    width: 13px;
    height: 13px;
}

.newsletter .form .form-checkbox:checked + label .checkbox-icon {
    display: inline-block;
}





/* TODO Submit btn */

.newsletter .form .submit-btn{
    min-width: 224px;
    height: 50;
    margin-top: 31.06px;
    padding: 17px 65px;

    line-height: 1.3;
}

/* TODO images */

.newsletter .newsletter-img{
    width: 100%;
    height: 300px;
    background-image: url('../images/subscription-mobile-1x.jpg');
    background-size: cover;
    background-position: center;
}
@media (min-divece-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .newsletter .newsletter-img{
        background-image: url('../images/subscription-mobile-2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .newsletter .newsletter-img{
        height: 396px;
        background-image: url('../images/subscription-tablet-1x.jpg');
    }

    @media (min-divece-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .newsletter .newsletter-img{
            background-image: url('../images/subscription-tablet-2x.jpg');
        }
    }
}



/* TODO Media */

@media screen and (min-width: 1440px) {
    .newsletter .container{
        max-width: 1128px;
    }

    .newsletter .wrapper{
        flex-wrap: nowrap;
        gap: 100px;
    }

    .newsletter .wrapper-item:nth-child(2){
        width: 483px;
    }

    .newsletter .newsletter-img{
        height: 410px;
        background-image: url('../images/subscription-desktop-1x.jpg');
    }

    @media (min-divece-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .newsletter .newsletter-img{
            background-image: url('../images/subscription-desktop-2x.jpg');
        }
    }
}




@media screen and (min-width: 1440px) {
    
}



/* 
@media (min-width: 769px) and (max-width: 1440px){
    .newsletter .newsletter-img{
        background-image: url('../images/subscription-desktop-1x.jpg');
    }
}

@media (min-width:376px) and (max-width: 768px) {
    .newsletter .newsletter-img{
        background-image:  url('../images/subscription-tablet-1x.jpg');
    }
}

@media (max-width: 375px) {
    .newsletter .newsletter-img{
        background-image:  url('../images/subscription-mobile-1x.jpg');
    }
}
  

@media (min-width: 769px) and (max-width: 1440px) and (min-resolution: 192dpi){
    .newsletter .newsletter-img{
        background-image:  url('../images/subscription-desktop-2x.jpg');
    }
}

@media (min-width: 376px) and (max-width: 768px) and (min-resolution: 192dpi){
    .newsletter .newsletter-img{
        background-image:  url('../images/subscription-tablet-2x.jpg');
    }
}

@media (max-width: 375px) and (min-resolution: 192dpi){
    .newsletter .newsletter-img{
        background-image:  url('../images/subscription-mobile-2x.jpg');
    }
} */
