.newsletter{
    padding-top: 64px;
    padding-bottom: 64px;
}

.newsletter > .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-end;
}

.section-title{
    text-align: center;
    margin-bottom: 20px;
}

.newsletter-text{
    font-size: 16px;
    color: var(--color-primary);
}

/* TODO form-container */

.form{
    margin-top: 20px;
}

.group-container-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* TODO inputs */
.form-input{
    width: 100%;
    padding: 11px 20px;
    border: 1px solid var(--color-calm-state);
    transition: border-color var(--trn-main-transition-params);
    color: var(--color-primary);
    font-size: 16px;
    line-height: 1.5;
    padding-right: 64px;
    transition: border var(--trn-main-transition-params);
}

.form-input:invalid:not(:placeholder-shown) {
    border: 1px solid var(--color-error-state);
    color: var(--color-error-state);
    padding-right: 64px;
}

.input-container{
    position: relative;
}

.attention-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    fill: transparent;
    transition: fill var(--trn-main-transition-params);
}
  
.form-input:invalid:not(:placeholder-shown) + .attention-icon {
    fill: var(--color-error-state);
}

.form-input:hover,
.form-input:focus,
.form-input:invalid{
    border-color: var(--color-primary);
}

.form-input:hover::placeholder,
.form-input:focus::placeholder{
    color: var(--color-primary);
}

/* TODO checkbox */

.checkbox-container {
    display: flex;
}

.checkbox-container label {
    display: flex;
    gap: 8px;
    padding-top: 5px;

    font-size: 16px;
    color: var(--color-calm-state);
}

.checkbox-border {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-calm-state);
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    top: -4px;
    transition: background-color var(--trn-main-transition-params),
    border var(--trn-main-transition-params);
}



.checkbox-icon {
    fill: transparent;
}

.form-checkbox:focus + label .checkbox-border {
    border-color: var(--color-primary);
}


/* TODO checkbox is checked */
.form-checkbox:checked + label .checkbox-icon {
    fill: var(--color-main-bg);
}

.form-checkbox:checked + label .checkbox-border {
    background-color: var(--color-primary);
    border: none;
}

/* TODO Submit btn */
.submit-btn{
    min-width: 224px;
    height: 50px;
    margin-top: 32px;
}


/* TODO images */
.container-item-picture{
    width: 100%;
    min-height: 300px;
}

@media screen and (min-width: 768px) {

    .newsletter{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .newsletter .countainer{
        gap: 64px;
    }

    .section-title{
        text-align: left;
    }

    .newsletter-text{
        font-size: 18px;
        line-height: 1.7;
    }

    .form-input,
    .checkbox-container label{
        font-size: 18px;
    }

    .submit-btn{
        font-size: 18px;
        margin-top: 30px;
    }

    .container-item-content{
        max-width: 536px;
    }
}

@media screen and (min-width: 1440px) {

    .newsletter{
        padding-bottom: 86px;
    }

    .newsletter .container{
        max-width: 1128px;
        flex-wrap: nowrap;
        gap: 100px;
    }

    .container-item-picture{
        width: 483px;
    }

    .submit-btn{
        height: 52px;
        margin-top: 31px;
    }
}
